<!DOCTYPE html>
<html>
  <head>
    <style>
      p {
        color: black;
        border-width: 8px;
        border-style: solid;
        border-color: rgb(241, 248, 213);
        padding: 15px;
        background-color: rgb(245, 248, 228);
        /* 축약형 */
        border: 5px solid rgba(82, 99, 116, 0);
        height: 400px;
        border-radius: 1.5rem;
        margin-right: 15px;
      }
      .full_screen {
        background-color: aliceblue;
        height: 1000px;
      }
      .search {
        color: rgb(15, 150, 150);
      }
      img {
        width: 600px;
        height: 400px;
      }
      .d-flex {
        margin-left: 15px;
        width: 450px;
      }
      .navbar-brand {
        margin-left: 350px;
      }

      Text {
        font-size: 35px;
        font-weight: bold;
      }

      .add {
        margin-top: 400px;
        width: 2000px;
        height: 1000px;
        background-color: rgb(229, 240, 250);
      }


      .column {
        float: left;
        width: 50%;
        height: 300px;
        padding: 10px;
      }
      .column h2 {
        margin-top: 0;
      }
      .task {
        background-color: #f2f2f2;
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 10px;
        cursor: grab;
      }
      .task:active {
        cursor: grabbing;
      }
    </style>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="full_screen">
      <div class="container mb-3">
        <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2 border-bottom">목표 운동 시간 00분</h2>
        <h2 class="pb-2 border-bottom">운동 약속</h2>

        <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
          <div class="list-group">
            <label class="list-group-item d-flex gap-3">
              <input class="form-check-input flex-shrink-0" type="checkbox" value="" checked style="font-size: 1.375em;">
              <span class="pt-1 form-checked-content">
                <strong>Finish sales report</strong>
                <small class="d-block text-body-secondary">
                  <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#calendar-event"/></svg>
                  1:00–2:00pm
                </small>
              </span>
            </label>
            <label class="list-group-item d-flex gap-3">
              <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
              <span class="pt-1 form-checked-content">
                <strong>Weekly All Hands</strong>
                <small class="d-block text-body-secondary">
                  <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#calendar-event"/></svg>
                  2:00–2:30pm
                </small>
              </span>
            </label>
            <label class="list-group-item d-flex gap-3">
              <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
              <span class="pt-1 form-checked-content">
                <strong>Out of office</strong>
                <small class="d-block text-body-secondary">
                  <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#alarm"/></svg>
                  Tomorrow
                </small>
              </span>
            </label>
            <label class="list-group-item d-flex gap-3 bg-body-tertiary">
              <input class="form-check-input form-check-input-placeholder bg-body-tertiary flex-shrink-0 pe-none" disabled type="checkbox" value="" style="font-size: 1.375em;">
              <span class="pt-1 form-checked-content">
                <span contenteditable="true" class="w-100">Add new task...</span>
                <small class="d-block text-body-secondary">
                  <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#list-check"/></svg>
                  Choose list...
                </small>
              </span>
            </label>
          </div>
        </div>
      
                <!-- <div class="column" ondrop="drop(event)" ondragover="allowDrop(event)">
                  <h4>목표</h4>
                  <div class="task" id="task1" draggable="true" ondragstart="drag(event)">
                    <p>Task 1</p>
                  </div>
                  <div class="task" id="task2" draggable="true" ondragstart="drag(event)">
                    <p>Task 2</p>
                  </div>
                  <div class="task" id="task3" draggable="true" ondragstart="drag(event)">
                    <p>Task 3</p>
                  </div>
                </div>
                <div class="column" ondrop="drop(event)" ondragover="allowDrop(event)">
                  <h4>완료</h4>
                  <div class="task" id="task4" draggable="true" ondragstart="drag(event)">
                    <p>Task 4</p>
                  </div>
                  <div class="task" id="task5" draggable="true" ondragstart="drag(event)">
                    <p>Task 5</p>
                  </div>
                </div> -->


                <a href="URL" target="_blank">나의 헬스 데이터</a>

                <div class="container px-4 py-5" id="icon-grid"></div>

                <h2 class="pb-2 border-bottom">주변 운동시설 및 등산로</h2>


              </div>
            </div>
          </div>

  </body>
  


</html>
